include partials/header.pug
div(class="main ui container")
  h1(class="ui center aligned header") Plant Watering Control Panel
  div(class="ui container")
    form(class="ui form" action="/settings" method="POST")
      for ch, i in settings
        h3(class="ui dividing header")="Channel " + i + " Settings"
        div(class="fields")
          div(class="field")
            label Channel Name
            input(type="text" required name="settings["+i+"][name]" 
                  value=ch.name)
          div(class="field")
            label Watering Interval (days):
            input(type="number" required 
                  name="settings["+i+"][interval_days]" value=ch.interval_days
                  min="0.25" max="365" step="any")
          div(class="field")
            label Watering Duration (minutes):
            input(type="number" required 
                  name="settings["+i+"][duration_mins]" value=ch.duration_mins
                  min="0" max="10" step="any")
          div(class="field")
            label Moisture Threshold (%):
            input(type="number" required 
                  name="settings["+i+"][thresh_pct]" value=ch.thresh_pct
                  min="0" max="100" step="any")
      div
        button(type="submit" class="ui primary button" tabindex="0") Update
